# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
money-tracker-webapp/src/client/node_modules/
money-tracker-webapp/src/client/bower_components/